node_modules
.vscode
build
.jshintrc
package-lock.json
coverage
.env
.coverage_contracts/Flight.sol
.coverage_contracts/FlightFactory.sol
.coverage_contracts/Migrations.sol
.coverage_artifacts/contracts/Flight.json
.coverage_artifacts/contracts/FlightFactory.json
.coverage_artifacts/contracts/Migrations.json
.coverage_artifacts/contracts/SafeMath.json
contracts/artifacts/Flight_metadata.json
contracts/artifacts/Flight.json
contracts/artifacts/FlightFactory_metadata.json
contracts/artifacts/FlightFactory.json
scripts/coverage.sh
scripts/startGanache.bat
scripts/startGanache.sh
scripts/test.sh
contracts/artifacts/Migrations_metadata.json
contracts/artifacts/Migrations.json
